# ignore ALL .log files
*.log

# ignore ALL app generated folders
venv/
images/
videos/
logs/
temp/
.idea/
**/__pycache__/
config.toml
.devcontainer/
.yoloface/

/login_face/
/login_fingerprint/
/face_upload_images/
fingerprint_upload_images/
